@charset "utf-8";
/* CSS Document */
#wraper{background:#FFFFFF; height:6450px; padding:100px;}

a:hover{font-size:40px; color:#33CC33;}

h2{color:#CC3333;}

#a img{float:left; margin-right:30px;}
#a ul{ float:left; margin-left:-25px; margin-top:-15px;}
#a h2{color:#CC3333;}
#a h3{margin-top:10px;}

#b img{float:left; margin-right:30px;}
#b ul{ float:left; margin-left:-25px; margin-top:-15px;}
#b h2{color:#CC3333; clear:both;}
#b h3{margin-top:10px;}

#c img{float:left; margin-right:30px;}
#c ul{ float:left; margin-left:-25px; margin-top:-15px;}
#c h2{color:#CC3333; clear:both;}
#c h3{margin-top:10px;}

#d img{float:left; margin-right:30px;}
#d ul{ float:left; margin-left:-25px; margin-top:-15px;}
#d h2{color:#CC3333; clear:both;}
#d h3{margin-top:10px;}

#e img{float:left; margin-right:30px;}
#e ul{ float:left; margin-left:-25px; margin-top:-15px;}
#e h2{color:#CC3333; clear:both;}
#e h3{margin-top:10px;}

#f img{float:left; margin-right:30px;}
#f ul{ float:left; margin-left:-25px; margin-top:-15px;}
#f h2{color:#CC3333; clear:both;}
#f h3{margin-top:10px;}

#g img{float:left; margin-right:30px;}
#g ul{ float:left; margin-left:-25px; margin-top:-15px;}
#g h2{color:#CC3333; clear:both;}
#g h3{margin-top:10px;}

#h h2{color:#CC3333; clear:both;}
#h img{ margin-left:80px;}

#i p {clear:both; font-size:20px; }
#i img {float:left; margin-right:30px;}
#i ul{float:left; margin-left:-25px; margin-top:-15px;}

#j p {clear:both; font-size:20px; }
#j img {float:left; margin-right:30px;}
#j ul{float:left; margin-left:-25px; margin-top:-15px;}

#k p {clear:both; font-size:20px;}
#k img {float:left; margin-right:30px;}
#k ul{float:left; margin-left:-25px; margin-top:-15px;}

#l p {clear:both; font-size:20px; }
#l img {float:left; margin-right:30px;}
#l ul{float:left; margin-left:-25px; margin-top:-15px;}


#m p {clear:both; font-size:20px; }
#m img {float:left; margin-right:30px;}
#m ul{float:left; margin-left:-25px; margin-top:-15px;}


#n p {clear:both; font-size:20px; }
#n img {float:left; margin-right:30px;}
#n ul{float:left; margin-left:-25px; margin-top:-15px;}

#o p {clear:both; font-size:20px; }
#o img {float:left; margin-right:30px;}
#o ul{float:left; margin-left:-25px; margin-top:-15px;}

#p p {clear:both; font-size:20px; }
#p img {float:left; margin-right:30px;}
#p ul{float:left; margin-left:-25px; margin-top:-15px;}

#q img{float:left; margin-right:30px;}
#q ul{ float:left; margin-left:-25px; margin-top:-15px;}
#q h2{color:#CC3333; clear:both;}
#q h3{margin-top:10px;}

#r img{float:left; margin-right:30px;}
#r ul{ float:left; margin-left:-25px; margin-top:-15px;}
#r h2{color:#CC3333; clear:both;}
#r h3{margin-top:10px;}

#s img{float:left; margin-right:30px;}
#s ul{ float:left; margin-left:-25px; margin-top:-15px;}
#s h2{color:#CC3333; clear:both;}
#s h3{margin-top:10px;}

#t img{float:left; margin-right:30px;}
#t ul{ float:left; margin-left:-25px; margin-top:-15px;}
#t h2{color:#CC3333; clear:both;}
#t h3{margin-top:10px;}

#u img{float:left; margin-right:30px;}
#u ul{ float:left; margin-left:-25px; margin-top:-15px;}
#u h2{color:#CC3333; clear:both;}
#u h3{margin-top:10px;}

#v img{float:left; margin-right:30px;}
#v ul{ float:left; margin-left:-25px; margin-top:-15px;}
#v h2{color:#CC3333; clear:both;}
#v h3{margin-top:10px;}
